# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask specific
instance/
.webassets-cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/
.vscode/*
.history/

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log
logs/
*.log.*

# Compiled code
*.out
*.o
*.lo
*.la
*.al
*.dylib
*.so

# Runtime files
*.pid
*.seed
*.pid.lock

# Editor backups and swap files
*~ 
*.swp 
*.swo 
*.swn 
*.bak

# React build files
build/
.DS_Store

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# ESLint
.eslintcache

# Parcel-bundler cache
.cache/

# IA Model
.h5
.keras

# dotenv environment variables file
.env
.env.*
venv/