@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Centrar el contenedor de login */
.gen {
  background-image: url('../img/b.jpg');
  background-size: cover;
  height: 100vh; /* 100% de la altura de la ventana */
  display: flex; /* Activar Flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Centrar el contenedor de login */
.login-container {
  width: 450px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white; /* Asegura que el fondo del formulario sea blanco */
  font-family: 'Poppins', sans-serif;
}

.login-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

/* Estilos de los campos de entrada */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-bottom: 2px solid blue;
  outline: none;
}

/* Botón de login */
.login-btn {
  width: 100%;
  padding: 10px;
  background-color: 273aa4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: 273aa4;
}