@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-image: url(../images/sumner-mahaffey-7Y0NshQLohk-unsplash.jpg);
  font-family: 'Roboto', sans-serif;
}

.login-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  color: #333;
}

.input-group input {
  width: calc(100% - 20px);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 15px;
  color: #e74c3c;
}

.hover-link {
  color: black;
  cursor: pointer;
}

.hover-link:hover {
  color: rgb(56, 120, 184);
}
