@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.modal-overlay-diagnoses {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow: auto; /* Permite el desplazamiento */
}

.modal-content-diagnoses {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 900px;
    max-width: 60%; 
    font-family: 'Poppins', sans-serif;
    text-align: center;
    max-height: 80%; /* Limita la altura m치xima */
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

.diagnoses-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.diagnosis-card {
    display: flex;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    align-items: center; /* Centra verticalmente los elementos en el card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.diagnosis-image {
    flex-shrink: 0;
    margin-right: 20px; /* A침ade espacio a la derecha de la imagen */
    padding-top: 45px;
    padding-left: 15px;
}

.diagnosis-image img {
    width: 100px; /* Tama침o de la imagen */
    height: 100px;
    border-radius: 2px; /* Bordes redondeados */
    object-fit: cover; /* Asegura que la imagen mantenga su proporci칩n */
}

.diagnosis-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente en el card */
    text-align: left;
}

.diagnosis-info p {
    color: black;
    margin: 5px 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Para los inputs de una sola columna, como el textarea */
.form-group.full-width {
    grid-column: span 2; /* Hace que ocupe las dos columnas */
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.modal-buttons button {
    margin-right: 10px; 
}

.modal-buttons button:last-child {
    margin-right: 0; 
}

.message{
    margin-top: 15px;
    color: #e74c3c;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.h1-myDiagnoses {
    color: black;
}