@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.gen {
  background-image: url('../img/b.jpg');
  background-size: cover;
  height: 100vh; /* 100% de la altura de la ventana */
  display: flex; /* Activar Flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.register-container {
  width: 1000px; /* Aumenta el tamaño del contenedor */
  max-width: 90%; /* Asegura que no se exceda en pantallas pequeñas */
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.register-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.horizontal-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: space-between;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(25% - 20px);
  min-width: 200px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 15px;
  color: green;
  font-size: 1rem;
}

.register-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
}

.input-group label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.input-group input, .input-group select {
  width: 95%;
  padding: 12px;
  border: 1.5px solid #0580df;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.message {
  margin-top: 15px;
  color: #e74c3c;
  width: 100%;
}

.hover-link {
  color: black;
  cursor: pointer;
}

.hover-link:hover {
  color: rgb(56, 120, 184);
}
