
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  width: 80%;
}

.spinner-header {
  width: 100%;
  background-color: #007bff;
  color: black;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.spinner {
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-top: 10px solid #007bff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 30px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
