@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
  color: #f9f9f9;
}

/* Main container */
.contentXray {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background 0.3s ease-in-out;
  top: 0;
  left: 0;
  width: calc(100% + 150px);
  height: 140vh;
  background-color: #b3adadae;;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.xrayServices-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
  margin-top: 100px;
}

/* Header */
.title {
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100% + 150px);
  background-color: rgba(0, 0, 0, 1);
  color: #f9f9f9;
  text-align: center;
  padding: 20px 0;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 5;
}

/* Sidebar */
.side-Bar {
  width: 220px;
  background-color: #0580df;
  padding: 20px;
  color: white;
  height: calc(100% - 81px); 
  position: fixed;
  top: 80px;
  left: 0px;
  box-sizing: border-box; 
  z-index: 10; 
}

.side-Bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-Bar ul li {
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center; 
}

.side-Bar ul:last-child {
  position: absolute;
  align-items: center;
  text-align: center;
  bottom: 20px; /* Ajusta el espacio entre el botón y la parte inferior */
  width: 100%;
}

.side-Bar ul li:hover {
  color: #cccccc;
}

.side-Bar ul li i {
  margin-right: 10px;
}

/* Toggle buttons */
.toggle-button {
  padding: 10px;
  background-color: #050404;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-button:hover {
  background-color: #555;
  transform: scale(1.05);
}

/* Overlay section */
.overlay-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay-section.active {
  opacity: 1;
  visibility: visible;
}

.overlay-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  color: black;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.overlay-content h2 {
  margin-bottom: 20px;
}

.overlay-content button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.overlay-content button:hover {
  background-color: #555;
}

/* Image upload button */
.xray-file-upload {
  padding: 10px 40px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  position: fixed;
}

/* Image container */
.xray-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  height: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.xray-pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
