@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', sans-serif;
  height: 100%; 
  margin: 0;
  color: white;
}

body::before {
  content: '';
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/xray.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
}

/* Main container */
.contentXray {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
  height: 100vh;
  background: transparent; 
  position: relative;
  padding-top: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.xrayServices-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
  margin-top: 160px;
}

/* Header */
.title {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #0580df;
  color: #f9f9f9;
  text-align: center;
  padding: 20px 0;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

/* Toggle buttons */
.toggle-button {
  position: absolute;
  left: 20px;  
  top: 50%;    
  transform: translateY(-50%); 
  padding: 10px;
  background-color: #050404;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-button:hover {
  background-color: #555;
}

.buttonBack{
  position: fixed;
  width: 120px;
  bottom: 20px;
  left: 20px;   
  padding: 10px 20px;
  background-color: #0580df;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Overlay section */
.overlay-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.overlay-section.active {
  opacity: 1;
  visibility: visible;
}

.overlay-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  color: black;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.overlay-content h2 {
  margin-bottom: 20px;
}

.overlay-content button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.overlay-content button:hover {
  background-color: #555;
}

/* Image container */
.xray-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  height: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.xray-pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.table-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.doctor-table {
  width: 100%;
  border-collapse: collapse;
}

.doctor-table th, .doctor-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.doctor-table th {
  background-color: #007bff;
  color: white;
}

.doctor-table img {
  border-radius: 50%;
}

.divider {
  width: 90%;
  border: 3px solid#0580df;
  margin: 40px auto;
}

.h2 {
  font-family: 'Poppins', sans-serif !important;
  text-align: center;
  color: #0580df !important;
}

.overlay-section.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  max-width: 600px;
  max-height: 80vh; 
  overflow-y: auto; 
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  position: relative;
}

.overlay-content h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.overlay-content p, ul {
  margin-bottom: 10px;
}

.overlay-content::-webkit-scrollbar {
  width: 8px;
}

.overlay-content::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 4px;
}

.overlay-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
